#Random Experiments

install.packages("package_you_want") -- command to download a package in R

In [2]:
library(prob)

Loading required package: combinat


Attaching package: 'combinat'


The following object is masked from 'package:utils':

    combn


Loading required package: fAsianOptions

Loading required package: timeDate

Loading required package: timeSeries

Loading required package: fBasics

Loading required package: fOptions


Attaching package: 'prob'


The following objects are masked from 'package:base':

    intersect, setdiff, union

In [3]:
tosscoin(1)
tosscoin(2)
tosscoin(3)

  toss1
1 H
2 T

  toss1 toss2
1 H     H
2 T     H
3 H     T
4 T     T

  toss1 toss2 toss3
1 H     H     H
2 T     H     H
3 H     T     H
4 T     T     H
5 H     H     T
6 T     H     T
7 H     T     T
8 T     T     T

In [4]:
length(rolldie(1))
length(rolldie(2))
length(rolldie(3))
nrow(rolldie(1))
nrow(rolldie(2))
nrow(rolldie(3))

[1] 1

[1] 2

[1] 3

[1] 6

[1] 36

[1] 216

In [5]:
df = cards()
length(df)
nrow(df)

[1] 2

[1] 52

In [15]:
urnsamples(1:3, size =2 , replace = FALSE, ordered = FALSE)
urnsamples(x = c('Red', 'BLUE', 'WHITE'), size =2 , replace = FALSE, ordered = FALSE)
urnsamples(x = c('Red', 'BLUE', 'WHITE'), size =2 , replace = FALSE, ordered = TRUE)

  X1 X2
1 1  2
2 1  3
3 2  3

  X1   X2
1 Red  BLUE
2 Red  WHITE
3 BLUE WHITE

  X1    X2
1 Red   BLUE
2 BLUE  Red
3 Red   WHITE
4 WHITE Red
5 BLUE  WHITE
6 WHITE BLUE

In [7]:
urnsamples(x = c('Red', 'BLUE', 'WHITE'), size =2 , replace = FALSE, ordered = FALSE)

  X1   X2
1 Red  BLUE
2 Red  WHITE
3 BLUE WHITE

In [8]:
# Creating sample space for an event 
s = tosscoin(3, makespace = TRUE)
s
s = tosscoin(3, makespace = FALSE)
s

  toss1 toss2 toss3 probs
1 H     H     H     0.125
2 T     H     H     0.125
3 H     T     H     0.125
4 T     T     H     0.125
5 H     H     T     0.125
6 T     H     T     0.125
7 H     T     T     0.125
8 T     T     T     0.125

  toss1 toss2 toss3
1 H     H     H
2 T     H     H
3 H     T     H
4 T     T     H
5 H     H     T
6 T     H     T
7 H     T     T
8 T     T     T

In [9]:
s[c(1:3),2]
s[c(2,4),]

[1] H H T
Levels: H T

  toss1 toss2 toss3
2 T     H     H
4 T     T     H

In [17]:
s = cards()
#This will not be executed since it compares strings(J,Q,K) with the numbers 1:10
s
e = subset(s, rank < 5&suit == 'Heart')

   rank suit
1  2    Club
2  3    Club
3  4    Club
4  5    Club
5  6    Club
6  7    Club
7  8    Club
8  9    Club
9  10   Club
10 J    Club
11 Q    Club
12 K    Club
13 A    Club
14 2    Diamond
15 3    Diamond
16 4    Diamond
17 5    Diamond
18 6    Diamond
19 7    Diamond
20 8    Diamond
21 9    Diamond
22 10   Diamond
23 J    Diamond
24 Q    Diamond
25 K    Diamond
26 A    Diamond
27 2    Heart
28 3    Heart
29 4    Heart
30 5    Heart
31 6    Heart
32 7    Heart
33 8    Heart
34 9    Heart
35 10   Heart
36 J    Heart
37 Q    Heart
38 K    Heart
39 A    Heart
40 2    Spade
41 3    Spade
42 4    Spade
43 5    Spade
44 6    Spade
45 7    Spade
46 8    Spade
47 9    Spade
48 10   Spade
49 J    Spade
50 Q    Spade
51 K    Spade
52 A    Spade

Warning message in Ops.factor(rank, 5):
"'<' not meaningful for factors"

     rank suit

In [11]:
s = cards()
s
e = subset(s, rank %in% c(8:10, 'J', 'Q', 'K') & suit == "Heart")
e

   rank suit
1  2    Club
2  3    Club
3  4    Club
4  5    Club
5  6    Club
6  7    Club
7  8    Club
8  9    Club
9  10   Club
10 J    Club
11 Q    Club
12 K    Club
13 A    Club
14 2    Diamond
15 3    Diamond
16 4    Diamond
17 5    Diamond
18 6    Diamond
19 7    Diamond
20 8    Diamond
21 9    Diamond
22 10   Diamond
23 J    Diamond
24 Q    Diamond
25 K    Diamond
26 A    Diamond
27 2    Heart
28 3    Heart
29 4    Heart
30 5    Heart
31 6    Heart
32 7    Heart
33 8    Heart
34 9    Heart
35 10   Heart
36 J    Heart
37 Q    Heart
38 K    Heart
39 A    Heart
40 2    Spade
41 3    Spade
42 4    Spade
43 5    Spade
44 6    Spade
45 7    Spade
46 8    Spade
47 9    Spade
48 10   Spade
49 J    Spade
50 Q    Spade
51 K    Spade
52 A    Spade

   rank suit
33 8    Heart
34 9    Heart
35 10   Heart
36 J    Heart
37 Q    Heart
38 K    Heart

In [19]:
subset(rolldie(3), X1+X2+X3 > 16)
subset(rolldie(3), X1+X2+X3 > 16 | X1== 2)

    X1 X2 X3
180 6  6  5
210 6  5  6
215 5  6  6
216 6  6  6

    X1 X2 X3
2   2  1  1
8   2  2  1
14  2  3  1
20  2  4  1
26  2  5  1
32  2  6  1
38  2  1  2
44  2  2  2
50  2  3  2
56  2  4  2
62  2  5  2
68  2  6  2
74  2  1  3
80  2  2  3
86  2  3  3
92  2  4  3
98  2  5  3
104 2  6  3
110 2  1  4
116 2  2  4
122 2  3  4
128 2  4  4
134 2  5  4
140 2  6  4
146 2  1  5
152 2  2  5
158 2  3  5
164 2  4  5
170 2  5  5
176 2  6  5
180 6  6  5
182 2  1  6
188 2  2  6
194 2  3  6
200 2  4  6
206 2  5  6
210 6  5  6
212 2  6  6
215 5  6  6
216 6  6  6

In [21]:
s = cards()
A = subset(s, suit == 'Heart')
B = subset(s, rank %in% 7:9)
A

   rank suit
27 2    Heart
28 3    Heart
29 4    Heart
30 5    Heart
31 6    Heart
32 7    Heart
33 8    Heart
34 9    Heart
35 10   Heart
36 J    Heart
37 Q    Heart
38 K    Heart
39 A    Heart

In [22]:
outcomes = tosscoin(1)
outcomes

  toss1
1 H
2 T

In [23]:
probabilites = c(0.75, 0.3)

In [24]:
oucomes = tosscoin(1)
S = probspace(c(outcomes, probabilites))
S

$outcomes
$outcomes$toss1
[1] H T
Levels: H T

$outcomes[[2]]
[1] 0.75

$outcomes[[3]]
[1] 0.3


$probs
[1] 0.3333333 0.3333333 0.3333333

attr(,"class")
[1] "ps"   "list"

In [25]:
probspace(tosscoin(1), probs = c(0.75,0.3))

  toss1 probs
1 H     0.7142857
2 T     0.2857143

# Getting probabilitis

In [26]:
s = cards(makespace = TRUE)
A = subset(s, suit == "Heart")
Prob(A)

[1] 0.25

In [27]:
s = tosscoin(1, makespace = TRUE)
s
Prob(subset(s, toss1 = "H"))

  toss1 probs
1 H     0.5
2 T     0.5

[1] 1

In [28]:
s = rolldie(2, makespace = TRUE);
s
event = subset(s, X1+X2<5);
Prob(event)

   X1 X2 probs
1  1  1  0.02777778
2  2  1  0.02777778
3  3  1  0.02777778
4  4  1  0.02777778
5  5  1  0.02777778
6  6  1  0.02777778
7  1  2  0.02777778
8  2  2  0.02777778
9  3  2  0.02777778
10 4  2  0.02777778
11 5  2  0.02777778
12 6  2  0.02777778
13 1  3  0.02777778
14 2  3  0.02777778
15 3  3  0.02777778
16 4  3  0.02777778
17 5  3  0.02777778
18 6  3  0.02777778
19 1  4  0.02777778
20 2  4  0.02777778
21 3  4  0.02777778
22 4  4  0.02777778
23 5  4  0.02777778
24 6  4  0.02777778
25 1  5  0.02777778
26 2  5  0.02777778
27 3  5  0.02777778
28 4  5  0.02777778
29 5  5  0.02777778
30 6  5  0.02777778
31 1  6  0.02777778
32 2  6  0.02777778
33 3  6  0.02777778
34 4  6  0.02777778
35 5  6  0.02777778
36 6  6  0.02777778

[1] 0.1666667

#### Conditional Probability

In [29]:
s = rolldie(2, makespace = TRUE)
s

   X1 X2 probs
1  1  1  0.02777778
2  2  1  0.02777778
3  3  1  0.02777778
4  4  1  0.02777778
5  5  1  0.02777778
6  6  1  0.02777778
7  1  2  0.02777778
8  2  2  0.02777778
9  3  2  0.02777778
10 4  2  0.02777778
11 5  2  0.02777778
12 6  2  0.02777778
13 1  3  0.02777778
14 2  3  0.02777778
15 3  3  0.02777778
16 4  3  0.02777778
17 5  3  0.02777778
18 6  3  0.02777778
19 1  4  0.02777778
20 2  4  0.02777778
21 3  4  0.02777778
22 4  4  0.02777778
23 5  4  0.02777778
24 6  4  0.02777778
25 1  5  0.02777778
26 2  5  0.02777778
27 3  5  0.02777778
28 4  5  0.02777778
29 5  5  0.02777778
30 6  5  0.02777778
31 1  6  0.02777778
32 2  6  0.02777778
33 3  6  0.02777778
34 4  6  0.02777778
35 5  6  0.02777778
36 6  6  0.02777778

In [33]:
A = subset(s, X1 == X2)
B = subset(s, X1 + X2<8)
A
B

   X1 X2 probs
1  1  1  0.02777778
8  2  2  0.02777778
15 3  3  0.02777778
22 4  4  0.02777778
29 5  5  0.02777778
36 6  6  0.02777778

   X1 X2 probs
1  1  1  0.02777778
2  2  1  0.02777778
3  3  1  0.02777778
4  4  1  0.02777778
5  5  1  0.02777778
6  6  1  0.02777778
7  1  2  0.02777778
8  2  2  0.02777778
9  3  2  0.02777778
10 4  2  0.02777778
11 5  2  0.02777778
13 1  3  0.02777778
14 2  3  0.02777778
15 3  3  0.02777778
16 4  3  0.02777778
19 1  4  0.02777778
20 2  4  0.02777778
21 3  4  0.02777778
25 1  5  0.02777778
26 2  5  0.02777778
31 1  6  0.02777778

In [34]:
Prob(A, given = B)
Prob(B, given = A)

[1] 0.1428571

[1] 0.5

In [35]:
(Prob(intersect(A, B))*Prob(A))/Prob(B)

[1] 0.02380952