# Linear Regression in R

We are using Salary Vs Experience Data in order th fit linear regression model.

In [15]:
test = read.csv("test.csv")
train = read.csv("train.csv")

In [16]:
x_test = test[,1]
y_test = test[,2]
x_train = train[,1]
y_train = train[,2]

In [17]:
test

  ï..YearsExperience Salary
1  8.2               113812
2  8.7               109431
3  9.0               105582
4  9.5               116969
5  9.6               112635
6 10.3               122391
7 10.5               121872

In [18]:
train

   ï..YearsExperience Salary
1  1.1                 39343
2  1.3                 46205
3  1.5                 37731
4  2.0                 43525
5  2.2                 39891
6  2.9                 56642
7  3.0                 60150
8  3.2                 54445
9  3.2                 64445
10 3.7                 57189
11 3.9                 63218
12 4.0                 55794
13 4.0                 56957
14 4.1                 57081
15 4.5                 61111
16 4.9                 67938
17 5.1                 66029
18 5.3                 83088
19 5.9                 81363
20 6.0                 93940
21 6.8                 91738
22 7.1                 98273
23 7.9                101302

As you can see we already have a splitted data and now we will focus on fitting the model.

In [19]:
model = lm(x_train ~ y_train)

In [20]:
model

Call:
lm(formula = x_train ~ y_train)

Coefficients:
(Intercept)      y_train
 -1.949e+00    9.369e-05

In [21]:
print(summary(model))

Call:
lm(formula = x_train ~ y_train)

Residuals:
     Min       1Q   Median       3Q      Max
-1.08036 -0.49707  0.04763  0.44734  0.86233

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.949e+00  4.480e-01   -4.35 0.000282 ***
y_train      9.369e-05  6.701e-06   13.98 4.14e-12 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.596 on 21 degrees of freedom
Multiple R-squared:  0.903,	Adjusted R-squared:  0.8984
F-statistic: 195.5 on 1 and 21 DF,  p-value: 4.136e-12

In [22]:
a <- data.frame(x_test)
y_pred =predict(model, a)

Warning message:
"'newdata' had 7 rows but variables found have 23 rows"

In [23]:
summary(y_pred)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.586   3.216   3.687   4.070   5.045   7.542