#### consider a sports academy
survey data contains mapping of gendet of a player to sport optes to play
Gender = Male, Female
#sports offered:baseball, Basketball;

In [ ]:
players = rep(c('Male', 'Female'), each =10)
players

In [ ]:
sport = rep(c('Baseball', 'Basketball','Baseball', 'Basketball'), times = c(4,6,4,6))
sport

In [ ]:
academy = data.frame(players, sport)
academy

### This is data is syntehtic data we have created it for expreiment purposes

In [ ]:
freqTable = table(academy)
freqTable

### Probalbility that a player id female given that the sport opted by her is baseball

In [ ]:
freqTable = addmargins(freqTable)
freqTable

In [ ]:
print(freqTable["Female", 'Baseball'])
print(freqTable["Sum", 'Baseball'])
answer = freqTable["Female", 'Baseball']/freqTable["Sum", 'Baseball']
answer

In [ ]:
players = rep(c('Male', 'Female'), each =150)
players

In [ ]:
sport = rep(c('Baseball', 'Basketball','Football', 'Soccer','Baseball', 'Basketball','Football', 'Soccer'), times = c(34,40,58,18, 34,52,20,44))
sport

In [ ]:
Academy  = data.frame(players, sport)
Academy

In [ ]:
freqTable = table(Academy)
freqTable

In [ ]:
freqTable = addmargins(freqTable)
freqTable

In [ ]:
freqTable["Female", "Baseball"]
freqTable["Sum", "Baseball"]
answer = freqTable["Female", "Baseball"]/freqTable["Sum", "Baseball"]

###### Probability that the playuer is male , given that the sport opted is soccer

In [ ]:
freqTable["Male", "Soccer"]
freqTable["Sum", "Soccer"]
answer = freqTable["Male", "Soccer"]/freqTable["Sum", "Soccer"]
answer

Probability of prefferring basketball, given that individual is female

In [ ]:
freqTable["Female", "Basketball"]
freqTable["Sum", "Basketball"]
answer = freqTable["Female", "Basketball"]/freqTable["Sum", "Basketball"]
answer

# Problem 3 -Homework
## Raod accidents problem

In [ ]:
type = rep(c('Accident', 'non-Accident'), times = (c(550,7000)))
type

In [ ]:
people = rep(c('do no follow rules','Follow rules', 'do no follow rules' ,'Follow rules'), times = c(500,50,5000,2000))
people

In [ ]:
cases = data.frame(type, people)
cases

In [48]:
freqTable = table(cases)
freqTable

              people
type           do no follow rules Follow rules
  Accident                    500           50
  non-Accident               5000         2000

In [49]:
freqTable= addmargins(freqTable)

In [50]:
freqTable

              people
type           do no follow rules Follow rules Sum
  Accident      500                 50          550
  non-Accident 5000               2000         7000
  Sum          5500               2050         7550

Problem - probability of accident given that the person follows traffic rules

In [51]:
print(freqTable["Accident", 'Follow rules'])
print(freqTable["Sum", 'Follow rules'])
answer = freqTable["Accident", 'Follow rules']/freqTable["Sum", 'Follow rules']
answer

[1] 50
[1] 2050

[1] 0.02439024